.kala-name   { width: 250px; }
.pc-id        { width: 100px; }
.property-id     { width: 120px; }
.department-group{width: 200px;}
.brand-group{width: 150px;}
.amount-group{width: 100px;}
.serial-group{width: 150px;}
.receiver-group{width: 180px;}
.date-group{width: 120px;}